.home {
  display: flex;
  padding: 0 15vw;

  .nav {
    flex: 1;
    .profilContainer {
      bottom: 0;
      position: fixed;
    }
  }
  .center {
    flex:2;
    .centerContainer {
      margin: auto;
      border-left: solid 0.5px #e6e6e6;
      border-right: solid 0.5px #e6e6e6;
      border-bottom: solid 0.5px #e6e6e6;
      h1 {
        margin: 0;
        font-size: 1.2rem;
      }
    }
  }
  .right {
    flex: 1;
    .messageContainer {
      bottom: 0;
      right: 40px;
      position: fixed;
    }
  }
}
