.profilContainer {
  width: 180px;
  border-radius: 30px;
  height: 50px;
  position: relative;
  .container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 20px;
    top: 50%;
    /* poussé de la moitié de hauteur du référent */
    transform: translateY(-50%);
    /* tiré de la moitié de sa propre hauteur */
    .pictureName {
      display: flex;
      color: #536471;
    }
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      }
    p {
      margin-left: 5px;
    }
  }
}

.profilContainer:hover {
  background-color: #E7E7E8;
  cursor: pointer;
}
